<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
</head>
<body>
    <header>
        <h1>Tech Talk</h1>
    </header>
    <nav>
        <a href="/home/">Home</a>
        <a href="/loggin/">Log In</a>
        <a href="/signup/">Sign Up</a>
    </nav>
</body>
</html>