{{> header }}
<div class="container">
    <form id="registerForm">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="registerUsername" required>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="registerEmail" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="registerPassword" required>
    <button type="submit" id="login">Register</button>
    </form>
</div>
{{> footer }}

<script src="/js/registration.js"></script>